/**
    This is the default styles for custom widgets
*/
body {
  margin: 0;
  padding: 16px;
  font-size: 13px;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}